<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<div class="site-wrapper-inner">
  <div class="card">
    <div class="card-block" >
      <table class = "table table-bordered table-striped">
      <thead>
        <tr>
          <th>RecordId</th>
          <th>Fieldname</th>
          <th>Fieldto</th>
          <th>Export</th>
        </tr>
      </thead>
      <tbody>
        <% @csvapiimports.each do |csvapiimport| %>
          <tr>
            <td><%= csvapiimport.recordid %></td>
            <td><%= csvapiimport.fieldname %></td>
            <td><%= csvapiimport.fieldto %></td>
            <td><%= csvapiimport.export %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="card-header" >
        <%= will_paginate @csvapiimports %>
      </div>
    </div>
  </div>
</div>

<div class="site-wrapper-inner">
  <div class="card">
    <div class="card-block" >
       <div class="card-header" >
         <h3>Import a CSV File</h3>
       </div>
        <%= form_tag import_csvapiimports_path, multipart: true do %>
         <div class="card-inner">
            <div class="row">
              <div class="col-md-4">
                  <%= file_field_tag :file, class:"form-control" %>
              </div>
              <div class="col-md-4">
                  <%= select_tag(:object, options_for_select([['Invoices',1],['Orders',2],['Expenses',3]]), class:"form-control") %>
              </div>
              <div class="col-md-4">
                  <%= select_tag(:export, options_for_select([['Do not update Exported Flag',2],['Mark Records as Exported No',0],['Mark records as Exported Yes',1]]), class:"form-control") %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <%= text_field_tag(:site , nil, placeholder: "https://yoursite.com") %>
              </div>
              <div class="col-md-4">
                <%= text_field_tag(:credentials, nil, placeholder: "API Key") %>
              </div>
              <div class="col-md-4">
                <%= submit_tag "Import CSV", class: "btn btn-primary" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
